/* Global Settings */

:root{
    /* Primary Brands */
    --brand-background: #0A2135;
    --brand-primary: #5ADE7C;

    /* Neon Brands */
    --brand-pink: #FF1178;
    --brand-red: #FE0000;
    --brand-yellow: #FFF205;
    --brand-blue: #01FFF4;
    --brand-green: #7CFF01;

    /* Secondary Brands */
    --brand-white: #ffffff;
    --brand-black: #000000;
    --brand-headline: #CDD8F4;
    --brand-paragraph: #8892b0;

    /* Font size */
    --font-size: 62.5%; /*1rem = 10px*/
    --font-large: 3.8rem;
    --font-medium: 2.4rem;
    --font-regular: 1.1rem;
    --font-small: 1rem;
    --font-micro: 0.9rem;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 0.4rem;

    /* Animation duration */
    --animation-duration: 300ms;
}

/* Universal Tags */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    cursor: default;
    background-color: var(--brand-background);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 0.1rem solid var(--brand-primary);
    padding: 0.6rem;
    margin-right: 1.5rem;
    color: var(--brand-primary);
    border-radius: 0.3rem;
    font-size: var(--font-micro);
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--brand-headline);
    margin: 1.6rem 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--brand-headline);
    margin: 0.8rem 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--brand-headline);
    margin: 0.6rem 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--brand-paragraph);
}

/* Navbar */

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-background);
    color: var(--brand-paragraph);
    padding: 0.8rem;
}

.navbar__logo{
    margin-left: 1.5rem;
    flex-grow: 2;
}
.navbar__logo a{
    color: var(--brand-primary);
}

.navbar__menu{
    display: flex;
    align-items: flex-end;
    margin-right: 0.8rem;
}

.navbar__menu__item{
    padding: 0.6rem;
    margin: 0.6rem;
    font-size: var(--font-micro);    
}

.navbar__button{
    border: 0.1rem solid var(--brand-primary);
    padding: 0.6rem;
    margin-right: 1.5rem;
    color: var(--brand-primary);
    border-radius: 0.3rem;
    font-size: var(--font-micro);
}

/* Home */

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

#home{
    padding: 6rem;
    padding-top: 0;
    padding-left: 8rem;
}

.home__container{
    width: 90%;
}

.home__container h1{
    margin: 0;
}

.home__container h3{
    color: var(--brand-primary);
}

.home__container h2{
    font-size: var(--font-large);
    color: var(--brand-paragraph);
    margin-bottom: 2rem;
}

.home__container p{
    width: 35rem;
}

.home__button{
    margin-top: 2.5rem;
}
