/* Global Settings */

:root{
    /* Primary Brands */
    --brand-background: #0A2135;
    --brand-primary: #5ADE7C;

    /* Neon Brands */
    --brand-pink: #FF1178;
    --brand-red: #FE0000;
    --brand-yellow: #FFF205;
    --brand-blue: #01FFF4;
    --brand-green: #7CFF01;

    /* Secondary Brands */
    --brand-white: #ffffff;
    --brand-black: #000000;
    --brand-dark-blue: #072b4a;
    --brand-headline: #CDD8F4;
    --brand-paragraph: #8892b0;

    /* Font size */
    --font-large: 60px;
    --font-medium: 32px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation duration */
    --animation-duration: 300ms;
}

/* Universal Tags */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    cursor: default;
    background-color: var(--brand-background);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--brand-primary);
    padding: 6px;
    margin-right: 15px;
    color: var(--brand-primary);
    border-radius: 4px;
    font-size: var(--font-micro);
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--brand-headline);
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--brand-headline);
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--brand-headline);
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-small);
    color: var(--brand-paragraph);
}

/* Navbar */

#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-background);
    padding: 8px;
}

.navbar__logo{
    margin-left: 15px;
    flex-grow: 2;
}
.navbar__logo a{
    color: var(--brand-primary);
}

ul.navbar__menu{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar__menu__item{
    padding: 10px;
    margin: 10px;
    font-size: var(--font-small);    
}

.navbar__menu__item a{
    color: var(--brand-paragraph);
}

.navbar__button{
    border: 1px solid var(--brand-primary);
    padding: 6px;
    margin-right: 15px;
    color: var(--brand-primary);
    border-radius: 4px;
    font-size: var(--font-small);
}

.mousepointer{
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--brand-pink);
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 2;
}

ul li:hover ~ .mousepointer{
    transition: 0.2s;
    transform: scale(4);
    background-color: var(--brand-primary);
}

li.navbar__menu__item a:hover{
    font-weight: var(--weight-bold);
}

/* Home */

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

#home img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.home__container{
    margin-left: 90px;
    max-width: 1500px;
    padding-block: 20px;
}

.home__content p{
    margin-left: 3.5px;
    line-height: 25px;
}

.home__content p:first-child{
    color: var(--brand-primary);
}

.home__content p:last-child{
    color: var(--brand-paragraph);
}

.home__content h1:nth-child(2){
    margin-top: 10px;
}

.home__content h1:nth-child(3){
    color: var(--brand-paragraph);
    margin-bottom: 20px;
    line-height: 75px;
}

.home__content .button{
    display: inline-block;
    padding: 10px;
    margin-top: 50px;
    margin-left: 3.5px;
    font-size: var(--font-small);
}

/* About Me */

#about{
    padding: 60px;
    padding-top: 100px;
}

.about__container{
    max-width: 1200px;
    margin: 0 auto;
}

.about__content{
    padding-left: 30px;
}

.about__title{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}


.about__title h2{
    margin-right: 10px;
    font-size: var(--font-medium);
    color: var(--brand-primary);
}

.about__title__number{
    color: var(--brand-pink);
    font-size: var(--font-regular);
    margin-right: 8px;
    font-weight: bold;
}

.about__title__line{
    width: 40%;
    height: 1px;
    background-color: var(--brand-pink);
    opacity: 0.5;
}

.about__context{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__context__img{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;
    margin: 20px;
}

.about__context img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0% 20%;
    align-items: center;
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.about__context__img:hover img{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.about__context__imgbox{
    border: 1px solid var(--brand-primary);
    width: 250px;
    height: 250px;
    position: absolute;
    top: 102px;
    left: 26px;
    border-radius: 2px;
}

.about__context__img:hover .about__context__imgbox{
    transition: 0.4s ease-in-out;
    top: 110px;
    left: 35px;
    border: 1px solid var(--brand-pink);
}

.about__check{
    color: var(--brand-primary);
    margin-right: 5px;
}

.about__context__description{
    padding-left: 20px;
    margin-left: 40px;
    flex-grow: 2;
}

.about__context__description p{
    display: inline-block;
    width: 500px;
    margin: 0;
    margin-bottom: 20px;
}

.about__context__button{
    display: flex;
    margin-top: 10px;
}

.about__context__button a{
    font-size: var(--font-small);
}

.about__context__button a:hover{
    color: var(--brand-pink);
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--brand-pink);
    margin-right: 15px;
    border-radius: 4px;
    font-size: var(--font-small);
}

/* Skills */
#skills{
    padding: 60px;
}

.skills__container{
    max-width: 1200px;
    margin: 0 auto;
}

.skills__content{
    padding-left: 60px;
}

.skills__context{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding: 60px;
}

.skills__title{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.skills__title h2{
    margin-right: 10px;
    font-size: var(--font-medium);
    color: var(--brand-primary);
}

.skills__title__number{
    color: var(--brand-pink);
    font-size: var(--font-regular);
    margin-right: 8px;
    font-weight: bold;
}

.skills__title__line{
    width: 40%;
    height: 1px;
    background-color: var(--brand-pink);
    opacity: 0.5;
}

.skills__context__box{
    display: grid;
    grid-template-rows: 2fr;
    padding: 15px;
    flex: 1 1 0;
}

.skills__context__title h2{
    height: 86px;
}

.skills__context__title p{
    margin-top: 10px;
    font-size: var(--font-micro);
    color: var(--brand-primary);
}

.skills__context__items ul{
    margin-top: 25px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.skills__context__item{
    width: 50px;
    height: 50px;
}

.skills__context__items ul li svg{
    width: 50px;
    height: 50px;
    fill: var(--brand-paragraph);
}

.skills__context__items ul li svg:hover{
    transition: 0.5s;
    fill: var(--brand-primary);
}

.skills__context__item:nth-child(1) path:nth-child(1):hover,
.skills__context__item:nth-child(2) path:nth-child(1):hover{
    fill: var(--brand-primary);
}

/* Projects */

#projects{
    padding: 60px;
}

.projects__container{
    max-width: 1200px;
    margin: 0 auto;
}

.projects__content{
    padding-left: 120px;
}

.projects__context{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding: 20px;
}

.projects__title{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}

.projects__title h2{
    margin-right: 10px;
    font-size: var(--font-medium);
    color: var(--brand-primary);
}

.projects__title__number{
    color: var(--brand-pink);
    font-size: var(--font-regular);
    margin-right: 8px;
    font-weight: bold;
}

.projects__title__line{
    width: 40%;
    height: 1px;
    background-color: var(--brand-pink);
    opacity: 0.5;
}

/* .projects__context{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-out;
}

.projects__context.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--brand-dark-blue);
    opacity: 0.7;
    margin: 10px;
    border-radius: 3px;
}

.project.invisible {
    display: none;
}

.project__img {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.project__description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--brand-primary);
    opacity: 0;
    transform: translateY(10px);
    transition: all 300ms ease-in;
    border-radius: 3px;
}

.project:hover .project__description {
    opacity: 0.9;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--brand-pink);
}

.project__description p{
    color: var(--brand-black);
    padding: 5px;
}

.project__description h3:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    width: 50px;
    height: 2px;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: var(--brand-white);
} */

.projects__context{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 1;
    transition: all 300ms ease-out;
}

.projects__context.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    width: 280px;
    height: 290px;
    background-color: var(--brand-dark-blue);
    /* border: 2px solid var(--brand-dark-blue); */
    margin: 10px;
    border-radius: 3px;
    transition: 300ms;
}

.project__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.project__description svg{
    height: 30px;
    width: 30px;
    fill: var(--brand-primary);
}

.project__description h2{
    font-size: 20px;
    color: var(--brand-headline);
    margin-block: 10px;
}

.project__description p:nth-child(3){
    flex-grow: 2;
    font-size: var(--font-small);
    margin-bottom: 10px;
}

.project__description p:nth-child(4){
    font-size: var(--font-micro);
}

.project__check{
    color: var(--brand-primary);
    margin-right: 5px;
}

.project:hover{
    transform:scale(1.11);
}
